output/
bin/
lib/
backup/
tmp/
build/
CMakeFiles/
html/
ee_aa_LO/
ee_aa_NLO/

*:w
*.pyc
*.html
__*
*.tmp
*.log
*.swp
*.png
*.root
*.backup
*.o
*.so
*.a
*.cmake

CMakeCache.txt
Makefile
py.py
MG5_debug
ME5_debug
additional_command
